//// production env

NODE_ENV
NEXT_PUBLIC_SITE_URL
NEXT_PUBLIC_SITE_NAME
NEXT_PUBLIC_GA_TRACKING_ID
NEXT_GOOGLE_SITE_VERIFICATION


//// Githube actions env

LHCI_GITHUB_APP_TOKEN

VERCEL_TOKEN
ORG_ID
PROJECT_ID